.menu{
list-style:none;
background:black;
padding:0;
}

.menu li{
display:inline-block;
}

.menu a{
color:white;
padding:15px;
display:block;
text-decoration:none;
}

.menu a:hover{
background:blue;
}